/node_modules
/server/node_modules
/client/node_modules

/server/dist
/client/dist

# If you’re using Yarn Plug’n’Play
/.pnp
.pnp.js

/coverage
/server/coverage
/client/coverage

/build
/client/build
/server/build
/release-builds

.DS_Store

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
/server/.env
/client/.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

server/src/config/broker-config.json
client/src/config/broker-config.json

.idea
*.iml

/server/logs